In [1]:
ls

05-python_data_manipulation.ipynb
06-data_analysis_with_csvs.ipynb
07-data_analysis_with_json.ipynb
08-Introducing-Pandas-DataFrames.ipynb
09-Data-Visualization-AKA-Plotting-With-Pandas.ipynb
10-Pandas_Data_Cleaning.ipynb
11-Aggregating-Combining-DataFrames.ipynb
Denver_Crime_Data.ipynb
Untitled.ipynb
Untitled1.ipynb
VCU_Registry_Result_V2_5.2.22.csv
completed/
crime.csv.crdownload
data/
flipper_length_body_mass_.png
images/
offense_codes.csv

In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('./VCU_Registry_Result_V2_5.2.22.csv')

In [4]:
df.head()

,Issuance Date,Sustainable Development Goals,Vintage Start,Vintage End,ID,Name,Country,Project Type,Methodology,Total Vintage Quantity,Quantity Issued,Serial Number,Additional Certifications,Retirement/Cancellation Date,Retirement Beneficiary,Retirement Reason,Retirement Details
0,29/04/2022,NaN,01/11/2020,31/12/2020,682,"Wind Power Project at Anthiyur, Tamil Nadu",India,Energy industries (renewable/non-renewable sou...,AMS-I.D.,663,663,12990-464677897-464678559-VCS-VCU-997-VER-IN-1...,NaN,NaN,NaN,NaN,NaN
1,29/04/2022,NaN,01/01/2021,31/08/2021,682,"Wind Power Project at Anthiyur, Tamil Nadu",India,Energy industries (renewable/non-renewable sou...,AMS-I.D.,22486,22486,12991-464678560-464701045-VCS-VCU-997-VER-IN-1...,NaN,NaN,NaN,NaN,NaN
2,29/04/2022,NaN,28/08/2020,31/12/2020,1319,Small-Scale Hydropower Project Sahanivotry In ...,Madagascar,Energy industries (renewable/non-renewable sou...,ACM0002,4773,4773,12992-464701046-464705818-VCS-VCU-997-VER-MG-1...,NaN,NaN,NaN,NaN,NaN
3,29/04/2022,NaN,01/01/2021,30/09/2021,1319,Small-Scale Hydropower Project Sahanivotry In ...,Madagascar,Energy industries (renewable/non-renewable sou...,ACM0002,20747,20747,12993-464705819-464726565-VCS-VCU-997-VER-MG-1...,NaN,NaN,NaN,NaN,NaN
4,29/04/2022,NaN,01/01/2016,31/12/2016,1408,Chyulu Hills REDD+ Project,Kenya,Agriculture Forestry and Other Land Use,VM0009,617707,70000,12994-464726566-464796565-VCS-VCU-263-VER-KE-1...,CCB-Biodiversity Gold; CCB-Climate Gold; CCB-C...,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160708 entries, 0 to 160707
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Issuance Date                  160708 non-null  object
 1   Sustainable Development Goals  9461 non-null    object
 2   Vintage Start                  160708 non-null  object
 3   Vintage End                    160708 non-null  object
 4   ID                             160708 non-null  int64
 5   Name                           160708 non-null  object
 6   Country                        160708 non-null  object
 7   Project Type                   160708 non-null  object
 8   Methodology                    159077 non-null  object
 9   Total Vintage Quantity         160708 non-null  int64
 10  Quantity Issued                160708 non-null  int64
 11  Serial Number                  160708 non-null  object
 12  Additional Certifications      62130 non-null   object
 13  Retirement/Cancellation Date   147474 non-null  object
 14  Retirement Beneficiary         44964 non-null   object
 15  Retirement Reason              117642 non-null  object
 16  Retirement Details             105977 non-null  object
dtypes: int64(3), object(14)
memory usage: 20.8+ MB

From looking at the info, the Issuance Date and retirement/cancellation date are stored as strings, this has to be cleaned and turned into DateTime objects

In [6]:
#create a new dataset to start performing EDA

df_clean = df.copy()

In [9]:
#gut check

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160708 entries, 0 to 160707
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Issuance Date                  160708 non-null  object
 1   Sustainable Development Goals  9461 non-null    object
 2   Vintage Start                  160708 non-null  object
 3   Vintage End                    160708 non-null  object
 4   ID                             160708 non-null  int64
 5   Name                           160708 non-null  object
 6   Country                        160708 non-null  object
 7   Project Type                   160708 non-null  object
 8   Methodology                    159077 non-null  object
 9   Total Vintage Quantity         160708 non-null  int64
 10  Quantity Issued                160708 non-null  int64
 11  Serial Number                  160708 non-null  object
 12  Additional Certifications      62130 non-null   object
 13  Retirement/Cancellation Date   147474 non-null  object
 14  Retirement Beneficiary         44964 non-null   object
 15  Retirement Reason              117642 non-null  object
 16  Retirement Details             105977 non-null  object
dtypes: int64(3), object(14)
memory usage: 20.8+ MB

In [13]:
# Converting to Datetime

df_clean['Issuance Date'] = pd.to_datetime(df_clean['Issuance Date'])

df_clean['Vintage Start'] = pd.to_datetime(df_clean['Vintage Start'])

df_clean['Vintage End'] = pd.to_datetime(df_clean['Vintage End'])

df_clean['Retirement/Cancellation Date'] = pd.to_datetime(df_clean['Retirement/Cancellation Date'])

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160708 entries, 0 to 160707
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Issuance Date                  160708 non-null  datetime64[ns]
 1   Sustainable Development Goals  9461 non-null    object
 2   Vintage Start                  160708 non-null  datetime64[ns]
 3   Vintage End                    160708 non-null  datetime64[ns]
 4   ID                             160708 non-null  int64
 5   Name                           160708 non-null  object
 6   Country                        160708 non-null  object
 7   Project Type                   160708 non-null  object
 8   Methodology                    159077 non-null  object
 9   Total Vintage Quantity         160708 non-null  int64
 10  Quantity Issued                160708 non-null  int64
 11  Serial Number                  160708 non-null  object
 12  Additional Certifications      62130 non-null   object
 13  Retirement/Cancellation Date   147474 non-null  datetime64[ns]
 14  Retirement Beneficiary         44964 non-null   object
 15  Retirement Reason              117642 non-null  object
 16  Retirement Details             105977 non-null  object
dtypes: datetime64[ns](4), int64(3), object(10)
memory usage: 20.8+ MB

In [16]:
#how many countries are in the dataset? 78 Countries in Dataset

df_clean['Country'].value_counts()

Brazil          31368
India           22474
China           18912
Indonesia       10173
Peru             9276
                ...
El Salvador         3
Cyprus              2
Burkina Faso        2
Liberia             2
Kazakhstan          2
Name: Country, Length: 78, dtype: int64

In [18]:
#create a grouped df showing the quantity of issued certs by country, sorted by the largest sum to smallest
df_clean.sort_values('Quantity Issued').groupby(['Country']).sum('Quantity Issued')

                    ID  Total Vintage Quantity  Quantity Issued
Country
Argentina       150141                20791513          1899614
Australia       462525                77589006           711029
Bangladesh      197810               205830607          5630558
Belize          316808               181577675          1410905
Bolivia          18713                  627000            72000
...                ...                     ...              ...
United States  1625369               338629862         28952227
Uruguay        6911468              6838742074         10911927
Viet Nam        438473                19222000          1193924
Zambia         4216197               508659613          8764616
Zimbabwe       5717778             16904172845         21591936

[78 rows x 3 columns]